.content-container{
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 60rem;
}

.header-container{
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 180rem;
}

.page__content{
    align-items: center;
    color: $cream;
    display: flex;
    justify-content: space-evenly;
    padding: $s-size 0;
}

.clock{
    cursor: pointer;
}
