.content-container{
    margin: 10rem auto;
    padding: 0 $m-size;
    max-width: 60rem;
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,1);
}

.widget-body{
    align-items: center;
    color:white;
    display: flex;
    justify-content: space-evenly;
    padding: $l-size 0;
}

.widget-header{
    color:white;
    padding:$l-size;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $dark-blue;
    h3{
        font-weight: bold;
        margin: 0;
        color:$dark-blue;
    }
}

.clock{
    cursor: pointer;
}
