header {
    background: $dark-blue;
    margin-bottom: 4.8rem;
    padding: $m-size 0;
    color:white;
}
.header-container{
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 60rem;
}

.header__content{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__title{
    text-decoration: none;
    h1{
        color:white;
        font-weight: bold;
        margin:0;
    }
}

.is-active{
    border-bottom: 2px solid white;
}

.nav-link{
    color:white;
}

.nav-link:hover{
    color:$cream;
}