.workday-container{
    margin: 0 auto;
    padding: 0 $m-size;
    max-width: 80rem;
    min-height: 80vh;
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,1);
}

.container-header{
    align-items: center;
    display:flex;
    justify-content: space-between;
    padding: $s-size;
    border-bottom: 1px solid $dark-blue;
    font-weight: 300;
}

.container-body{
    align-items: center;
    padding: $l-size;
    height: 35vh;
    justify-content: space-around;
    border-bottom: 1px solid $dark-blue;
    overflow: auto;
    span{
        font-weight: bold;
    }
}

.myForm{
    align-items: center;
    display:flex;
    justify-content: space-evenly;
    margin-top: $l-size;
    padding: $s-size $l-size;
}

.noteInput{
    width: 100%;
}

.addBtn{
    width: 100%;
}

.exportBtn{
   margin: 10vh 0;
}
